/* ---------- CSS DE LAS PAGINAS (PAGES) ----------- */

/* ====================================================================== */

/* ---------- ESTILOS PAGINA INICIO ----------- */

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw; /* Ancho completo */
  height: 100vh; /* Alto completo */
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: auto;
  overflow: hidden;
}

.video-inicio {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  max-height: 600px;
}

.icon-container {
  position: absolute; 
  bottom: 10%;
  text-align: center; 
  transition: opacity 0.5s ease; 
  color: var(--text-color);
  opacity: 1;
  width: 100%;
}

.inicio-button {
  background: transparent; 
  border: none; 
  cursor: pointer; 
  color: var(--text-color); 
  font-size: 2rem; 
}

.inicio-button:hover {
  color: var(--orange);
  opacity: 0.8;
}

.inicio h3 {
  margin-top: 10px; 
  font-size: 1.5rem;
  color: var(--text-color);
}

/* ====================================================================== */

/* ---------- ESTILOS PAGINA HOME ----------- */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.home h3, 
.home p {
  font-family: system-ui;
  text-align: center; 
  color: var(--text-color);
  margin: 10px;
}

.carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.section-novedades {
  position: relative;
  width: 100%;
  height: 350px;
  padding: 30px 0;
  color: var(--text-color);
  background-image: url('../assets/images/fondo-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.novedades-content {
  width: 100%;
  max-height: 220px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.section-video {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: var(--orange-semitransparente);
  text-align: center;
}

.logo-laporcion {
  width: 70%;
  max-width: 500px; 
  height: auto;
  object-fit: contain;
}

.video-container {
  width: 100%;
  max-width: 800px; 
  padding: 0;
  box-sizing: border-box;
}

.video-home {
  width: 100%;
  height: auto;
  max-height: 450px; 
  object-fit: cover;
}

.texto-container {
  max-width: 800px; 
  margin-top: 20px;
  padding: 0 20px;
  color: var(--text-color);
}

.section-conocenos {
  width: 100%;
  padding: 20px 0;
  background-color: var(--orange-semitransparente);
  background-image: url('../assets/images/fondo-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carrusel-imagen {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  transition: opacity 1s ease-in-out;
  border-radius: 8px;
}

/* ====================================================================== */

/* ---------- ESTILOS PAGINA CARTA ----------- */

.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  min-height: 100vh;
  padding: 20px;
  margin: 5;
  background-image: url('../assets/images/fondo-carta.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

.carta p {
  color: black;
}

.logo-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80px;
  max-height: 100px;
  margin-bottom: 15px;
}

.logo {
  width: 100%;
  height: 100%;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 90%;
  height: 45px;
  padding: 5px;
  background-color: var(--orange);
  border: 1px solid black;
}

.link-container:hover {
  background-color: var(--orange-hover);
}

.link {
  color: var(--text-color);
  font-size: x-large;
  font-weight: bold;
}

.categorias {
  display: flex;
  flex-direction: column; 
  margin-bottom: 0;
  width: 90%;
}

.categorias button {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  text-align: left; 
  width: 100%; 
  height: 50px; 
  padding: 20px;
  background-color: var(--orange);
  color: black;
  border: 1px solid black; 
  box-sizing: border-box; 
  cursor: pointer;
}

.categorias button:hover {
  background-color: var(--orange-hover);
}

.base {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: left; 
}

.flechaD-icon {
  margin-left: 30px; 
}

.subcategorias {
  width: auto;
  max-height: 0;
  padding-left: 10px;
  overflow: hidden; 
  transition: max-height 1.5s ease; 
}

.subcategorias.open {
  max-height: 2500px; 
}

.items-container {
  width: 100%;
  max-height: 0; 
  overflow: hidden; 
  transition: max-height 1.5s ease;
}

.items-container.open {
  max-height: 2500px;
  background-color: var(--text-color);
}

.items-table {
  width: 100%;
  margin-top: 0;
  margin: 0 auto; /* Centra la tabla en el contenedor */
  border-collapse: collapse; 
  background-color: var(--text-color);
}

.items-table th, .items-table td {
  padding: 8px;
  border: 1px solid black; 
  text-align: center; /* Cambiado a center para centrar el texto */
}

.items-table th {
  background-color: var(--orange); 
  color: black;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .items-table {
    table-layout: fixed; 
    text-overflow: ellipsis;
  }

  .items-table th, .items-table td {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}


/* ====================================================================== */

/* ---------- ESTILOS PAGINA SERVICIOS ----------- */

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%; 
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--green-semitransparente);
  color: var(--text-color);
}

.horario {
  text-align: center;
}

.horario h2 {
  font-size: 24px;
  color: var(--orange);
}

.horario p {
  font-size: 18px;
}

.servicios-contenido {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.servicios-contenido h2 {
  font-size: 24px;
  color: var(--orange);
}

.servicios-columnas {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  gap: 10px;
  margin: 0 auto;
  margin-top: 20px; 
}

.servicios-columna {
  flex: 1;
  padding: 20px;
  background-color: var(--orange-2);
  border-radius: 8px;
}

.recoger h3, .domicilio h3 {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.recoger a, .btn-oidokocina {
  background-color: var(--orange);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.recoger a:hover, .btn-oidokocina:hover {
  background-color: var(--orange-hover)
}

iframe {
  border-radius: 10px;
  max-width: 90%;
}

.ubicacion {
  text-align: center;
  max-width: 90%;
}

.ubicacion h3 {
  font-size: 24px;
  color: var(--orange);
}

.redes {
  text-align: center;
  max-width: 90%;
  margin: 10px;
}

.redes h3 {
  font-size: 24px;
  color: var(--orange);
}

.socialmedia a {
  margin-right: 10px;
  color: var(--orange);
  text-decoration: none;
}

.socialmedia a:hover {
  color: var(--orange);
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .recoger a {
      font-size: 10px; /* Cambia el tamaño de la fuente del número de teléfono */
  }

  .recoger p {
      font-size: 10px; /* Asegúrate de que el texto descriptivo también se reduzca */
  }

  .servicios h2, .horario h2, .ubicacion h3, .redes h3 {
      font-size: 16px; /* Ajusta el tamaño de los encabezados para pantallas pequeñas */
  }

  .servicios-columnas {
      flex-direction: column; /* Cambia las columnas a filas para evitar superposición */
      gap: 5px; /* Reduce el espacio entre secciones */
  }
}


/* ====================================================================== */

/* ---------- ESTILOS PAGINA CONTACTO ----------- */

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%; 
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--background-color-2);
  color: var(--text-color);
  overflow: auto;
}

.contacto h1 {
  font-size: 24px; 
  color: var(--text-color);
  margin-bottom: 10px; 
}

.contacto p {
  color: var(--text-color); 
  margin-bottom: 20px; 
}

.form-group {
  margin-bottom: 15px; 
  width: 90%;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px; 
  color: var(--orange);
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid grey; 
  border-radius: 4px;
  font-size: 16px;
}

.form-group input[type="file"] {
  border: none;
}

.form-group textarea {
  resize: vertical;
}

.contacto button {
  background-color: var(--orange-2);
  color: var(--text-color); 
  border: none; 
  padding: 10px 15px; 
  border-radius: 4px;
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.contacto button:hover {
  background-color: var(--orange-hover);
}

button:disabled {
  background-color: darkgrey; 
  cursor: not-allowed;
}
