/* ---------- ESTILOS PAGINA INICIO ----------- */

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh;
  width: 100vw; 
  background-color: black;
  color: white;
  overflow: hidden;
}

.video-container {
  position: relative; 
  width: 100%; 
  height: auto; 
  overflow: hidden;
}

.responsive-video {
  width: 100%; 
  height: auto; 
}

.icon-container {
  position: absolute; 
  bottom: 20px; 
  text-align: center; 
  transition: opacity 0.5s ease; 
  color: white;
  opacity: 1;
}

.inicio-button {
  background: transparent; 
  border: none; 
  cursor: pointer; 
  color: white; 
  font-size: 2rem; 
}

.inicio-button:hover {
  color: #ff8c00;
  opacity: 0.8;
}

.inicio h3 {
  margin-top: 10px; 
  font-size: 1.5rem;
  color: white;
}

/* ====================================================================== */

/* ---------- ESTILOS PAGINA HOME ----------- */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100vw; 
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

.logo {
  width: 100%; 
  text-align: center;
  padding: 20px;
}

.logo img {
  max-width: 90%; 
  height: auto; 
  display: block; 
  margin: 0 auto;
}

.home h3 {
  color: #ff8c00;
  text-align: center;
  margin-bottom: 20px;
}

.novedades {
  width: 80%; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px;
}

.novedades-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center; 
  width: 100%; 
  height: 100px; 
  padding: 5PX;
  
  background-color: rgb(41, 37, 37);
  border: 0.5px solid white; 
  box-sizing: border-box;
  overflow: hidden; 
}

.home h2, .home p{
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.novedad {
  position: absolute;
  width: 100%;

  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateX(100%);
  text-align: center;
}

.novedad.active {
  opacity: 1;
  transform: translateX(0%);
}

.novedad:not(.active) {
  transform: translateX(-100%);
}

/*SI QUISIERA AÑADIR IMAGEN EN VEZ DE TITULO Y DESCRIPCION PONER LO SIGUIENTE: 
.novedad img {
  width: 100%; /* Se ajusta al contenedor 
  height: auto; /* Mantiene las proporciones
  object-fit: cover; /* Asegura que la imagen llene el espacio sin distorsionarse 
}
*/

.video-container {
  width: 85%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  width: 100%; 
  height: auto;
  display: block; 
}

.fotos-empresa {
  width: 80%; 
  max-width: 1200px;
  margin: 0 auto; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ====================================================================== */

/* ---------- ESTILOS PAGINA CARTA ----------- */

.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100vw; 
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

.categorias {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.categorias button {
  background-color: #ff8c00;
  color: white;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.categorias button:hover {
  background-color: #ff8c00a0;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  margin: 10px 0;
  text-align: center;
  border: 1px solid white;
  padding: 10px;
  width: 100%;
}

/* ---------- ESTILOS PAGINA SERVICIOS ----------- */

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100vw; 
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

.servicios h3, .servicios a {
  color: #ff8c00;
  text-decoration: none;
}

.servicios h2, .servicios p {
  color: #ffffff;
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-bottom: 40px;
}

iframe {
  border-radius: 10px;
}

.btn-oidokocina {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn-oidokocina:hover {
  background-color:#ff8c00;
}

.socialmedia a {
  margin-right: 10px;
  color: #ff6600;
  text-decoration: none;
}

.socialmedia a:hover {
  color:#ff8c00;
  text-decoration: underline;
}

/* ---------- ESTILOS PAGINA CONTACTO ----------- */

.contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; 
  width: 100vw; 
  min-height: 100vh;
  padding: 15px;
  margin: 0;
  background-color: black;
  color: white;
}

.contacto h1 {
  font-size: 24px; /* Tamaño del título */
  color: #ffffff; /* Color del texto */
  margin-bottom: 10px; /* Margen inferior */
}

.contacto p {
  color: #ffffff; /* Color del texto del párrafo */
  margin-bottom: 20px; /* Margen inferior */
}

.form-group {
  margin-bottom: 15px; /* Espacio entre grupos de formulario */
}

.form-group label {
  display: block; /* Hacer que las etiquetas ocupen toda la línea */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 5px; /* Margen inferior */
  color: #ff8c00; /* Color del texto */
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde del campo */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
}

.form-group input[type="file"] {
  border: none; /* Quitar borde para archivos */
}

.form-group textarea {
  resize: vertical; /* Permitir solo redimensionar verticalmente */
}

.contacto button {
  background-color: #ff6600; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 10px 15px; /* Espacio interno */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave para el color */
}

.contacto button:hover {
  background-color: #ff8c00; /* Color de fondo al pasar el ratón */
}

button:disabled {
  background-color: #ccc; /* Color de fondo si el botón está deshabilitado */
  cursor: not-allowed; /* Cursor de prohibido */
}
