/* ---------- CSS DE LAS PAGINAS (PAGES) ----------- */

/* ====================================================================== */

/* ---------- ESTILOS PAGINA INICIO ----------- */

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative; 
}

.video-container {
  position: relative; 
  width: 100%; 
  height: auto; 
  overflow: hidden;
}

.responsive-video {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

.icon-container {
  position: absolute; 
  bottom: 10%;
  text-align: center; 
  transition: opacity 0.5s ease; 
  color: var(--text-color);
  opacity: 1;
  width: 100%;
}

.inicio-button {
  background: transparent; 
  border: none; 
  cursor: pointer; 
  color: var(--text-color); 
  font-size: 2rem; 
}

.inicio-button:hover {
  color: var(--orange);
  opacity: 0.8;
}

.inicio h3 {
  margin-top: 10px; 
  font-size: 1.5rem;
  color: var(--text-color);
}

/* ====================================================================== */

/* ---------- ESTILOS PAGINA HOME ----------- */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0;
  margin: 0;
}

h3 {
  text-align: center; /* Centra el texto */
  color: var(--orange); /* Cambia el color del texto a naranja */
}

.section-novedades {
  position: relative;
  width: 100%;
  padding: 30px 0;
  color: var(--text-color);
  background-color: var(--background-color-2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.novedades-content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: var(--fondo-semitransparente);
  border-radius: 8px;
  box-sizing: border-box;
}

.carrusel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrusel-imagen {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  transition: opacity 1s ease-in-out;
  border-radius: 8px;
}

.section-video {
  width: 100%; /* Ancho total de la ventana */
  padding: 30px 0; /* Margen superior e inferior */
  color: var(--text-color); /* Color del texto */
  background-color: var(--orange); /* Fondo semitransparente */
  border-radius: 2px; /* Bordes redondeados */
}

.video {
  width: 100%; /* Ajusta el ancho del video al 100% del contenedor */
  height: auto; /* Mantiene la proporción del video */
  border-radius: 8px; /* Bordes redondeados */
}

.section-conocenos {
  width: 100%;
  padding: 20px 0;
  background-image: url('../assets/images/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
}











.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100vw; 
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: white; /* Cambiar fondo a blanco */
  color: black; /* Cambiar letras a negro */
}

.categorias {
  display: flex;
  flex-direction: column; /* Cambiar a columna */
  margin-bottom: 0;
  width: 90%;
}

.categorias button {
  display: flex; /* Usar flexbox para el botón */
  justify-content: space-between; /* Espacio entre el texto y el icono */
  align-items: center; /* Centrar verticalmente el contenido */
  background-color: var(--orange);
  color: black; /* Cambiar letras a negro */
  border: 1px solid black; /* Borde negro */
  padding: 10px 20px;
  margin: 0; /* Eliminar espacio entre botones */
  cursor: pointer;
  width: 100%; /* Ajustar ancho al contenedor */
  height: 50px; /* Ajustar altura a un tamaño fijo */
  box-sizing: border-box; /* Incluir borde y padding en el tamaño total */
  text-align: left; /* Alinear texto a la izquierda */
  padding-left: 20px; /* Espacio izquierdo para el texto */
}

.categorias button:hover {
  background-color: var(--orange-hover);
}

.flechaD-icon {
  margin-left: 30px; /* Espacio entre el texto y el icono */
}

.subcategorias {
  overflow: hidden; /* Oculta el contenido que excede el contenedor */
  transition: max-height 1s ease; /* Transición suave */
  max-height: 0; /* Oculto por defecto */
  width: 100%;
}

.subcategorias.open {
  max-height: 200px; /* Ajusta esto según sea necesario para mostrar el contenido */
}

.items-container {
  overflow: hidden; /* Oculta el contenido que excede el contenedor */
  transition: max-height 1s ease; /* Transición suave */
  max-height: 0; /* Oculto por defecto */
  width: 100%;
}

.items-container.open {
  max-height: 500px; /* Ajusta esto según sea necesario para mostrar el contenido */
}

.items-table {
  width: 100%;
  border-collapse: collapse; /* Eliminar espacios entre celdas */
  margin-top: 0; /* Espacio entre subcategorías y tabla */
}

.items-table th, .items-table td {
  border: 1px solid black; /* Borde negro */
  padding: 8px;
  text-align: left;
}

.items-table th {
  background-color: var(--orange); /* Fondo naranja para encabezados */
  color: black; /* Letras en negro */
}








/* ====================================================================== */

/* ---------- ESTILOS PAGINA SERVICIOS ----------- */

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100vw; 
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.horario {
  text-align: center;
}

.horario h2 {
  font-size: 24px;
  color: var(--orange);
}

.horario p {
  font-size: 18px;
}

.servicios-contenido {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.servicios-contenido h2 {
  font-size: 24px;
  color: var(--orange);
}

.servicios-columnas {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  gap: 10px;
  margin: 0 auto;
  margin-top: 20px; 
}

.servicios-columna {
  flex: 1;
  padding: 20px;
  background-color: var(--orange-2);
  border-radius: 8px;
}

.recoger h3, .domicilio h3 {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.recoger a, .btn-oidokocina {
  background-color: var(--orange);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.recoger a:hover, .btn-oidokocina:hover {
  background-color: var(--orange-hover)
}

iframe {
  border-radius: 10px;
  max-width: 90%;
}

.ubicacion {
  text-align: center;
  max-width: 90%;
}

.ubicacion h3 {
  font-size: 24px;
  color: var(--orange);
}

.redes {
  text-align: center;
  max-width: 90%;
  margin: 10px;
}

.redes h3 {
  font-size: 24px;
  color: var(--orange);
}

.socialmedia a {
  margin-right: 10px;
  color: var(--orange);
  text-decoration: none;
}

.socialmedia a:hover {
  color: var(--orange);
  text-decoration: underline;
}

/* ====================================================================== */

/* ---------- ESTILOS PAGINA CONTACTO ----------- */

.contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; 
  width: 100vw; 
  min-height: 100vh;
  padding: 15px;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.contacto h1 {
  font-size: 24px; 
  color: var(--text-color);
  margin-bottom: 10px; 
}

.contacto p {
  color: var(--text-color); 
  margin-bottom: 20px; 
}

.form-group {
  margin-bottom: 15px; 
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px; 
  color: var(--orange);
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px; 
  border: 1px solid grey; 
  border-radius: 4px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
}

.form-group input[type="file"] {
  border: none;
}

.form-group textarea {
  resize: vertical;
}

.contacto button {
  background-color: var(--orange-2);
  color: var(--text-color); 
  border: none; 
  padding: 10px 15px; 
  border-radius: 4px;
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.contacto button:hover {
  background-color: var(--orange-hover);
}

button:disabled {
  background-color: darkgrey; 
  cursor: not-allowed;
}