.layout {
    display: grid;
    grid-template-areas: 
        "header"
        "body"
        "footer";
    grid-template-rows: auto 1fr auto; /* header con tamaño automático, body ocupa el espacio restante, footer con tamaño automático */
    width: 100%;
    height: 100%;
}

.header {
    grid-area: header;
}

.body {
    grid-area: body;
    overflow-y: auto;
}

.footer {
    grid-area: footer;
}
