header {
    width: 100vw;
    height: 2.5rem; 
    background: var(--green);
    padding: 0;

    display: flex;
    flex-flow: row nowrap; 
    justify-content: center;
    align-items: center;

    color: var(--text-color);
    font-family: system-ui; 
    font-weight: bold; 
    text-shadow: 1px 1px black; 

    border-bottom: 0.5px solid white; 
}

.header-button {
    background-color: var(--orange);
    margin: 3px;
    padding: 10px 20px;

    display: none;
    cursor: pointer;
    
    border: 0.5px solid black;
    border-radius: 5px;
}

/* .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    flex-grow: 1; 
}
  
.header-logo {
    max-width: 100%; 
    height: auto; 
    max-height: 50px; 
} */

.header-nav {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-ul {
    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    list-style-type: none;  
}

.header-li {
    margin: 3rem;
}

.header-NavLink {
    color: var(--text-color);
    text-decoration: none;  
}

@media (max-width: 850px) {}

@media screen and (max-width: 550px) {
    .header {
        width: 100vw;
        padding: 0;
        
        position: relative;
        display: flex;
        justify-content: flex-start;
    }

    .header-button {
        width: 3rem;
        height: 2rem;
        padding: 15px;
        background-color: var(--orange);

        display: flex;
        align-items: center;
        
        color: var(--background-color);
        border-color: var(--background-color);

    }

    .header-nav {
        background-color: var(--green);
        opacity: 0;
        
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;

        overflow: hidden;
        white-space: nowrap;
        transition: all 0.5s ease;
    }

    .header-nav.menu {
        height: auto;
        opacity: 1;
        z-index: 10;
    }

    .header-ul {
        padding: 0;
        margin: 0;
        
        flex-direction: column;
        
        border: 1px solid white;
    }

    .header-li {
        width: 100%;
        margin: 0;
    }

    .header-NavLink {
        width: 95%;
        padding: 3px 5px;
        
        display: block;
        
        color: var(--text-color);
        text-decoration: none;
        border-top: 1px solid white;
    }
}

@media screen and (max-width: 400px) {}