header {
    width: 100vw;
    height: 2rem; 
    background: #6AB644; /* Gradiente de verde a naranja difuminado */
    padding: 0;

    display: flex;
    flex-flow: row nowrap; /* Asegúrate de que no haya saltos de línea */
    justify-content: center; /* Centrar todo el contenido horizontalmente */
    align-items: center; /* Alinear verticalmente al centro */

    color: #ffffff;
    font-family: system-ui; 
    font-weight: bold; 
    text-shadow: 1px 1px #000000; 

    border-bottom: 1px solid #000000; 
}

.header-button {
    background-color: #ff8c00;
    margin: 3px;

    display: none;
    cursor: pointer;
}

.header-icon {
    width: 1rem;
    height: 1rem;

    fill: #ffffff;
}

.header-nav {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-ul {
    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    list-style-type: none;  /* Quitar los puntos de la lista */
}

.header-li {
    margin: 2rem;
}

.header-NavLink {
    color: #ffffff;
    text-decoration: none;  /* Quitar el subrayado de los enlaces */
}

@media (max-width: 850px) {}

@media screen and (max-width: 550px) {
    .header {
        width: 100vw;
        padding: 0;
        
        position: relative; /* Para que el menú se posicione relativo al header */
        display: flex;
        justify-content: flex-start;
    }

    .header-button {
        padding: 2px;
        background-color: #ff8c00; /* Opcional: si no quieres un fondo */

        display: flex;
        align-items: flex-start;
        
        color: #000000;
        border-color: #000000;

    }

    .header-nav {
        background-color: #6AB644;
        opacity: 0;
        
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;

        overflow: hidden;
        white-space: nowrap;
        transition: all 0.5s ease;
    }

    .header-nav.menu {
        height: auto;
        opacity: 1;
    }

    .header-ul {
        padding: 0;
        margin: 0;
        
        flex-direction: column;
        
        border: 1px solid #000000;
    }

    .header-li {
        width: 100%;
        margin: 0;
    }

    .header-NavLink {
        width: 95%;
        padding: 3px 5px;
        
        display: block;
        
        color: #ffffff;
        text-decoration: none;
        border-top: 1px solid #000000;
    }
}

@media screen and (max-width: 400px) {}
