.footer {
    width: 100vw;
    height: auto; 
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: center; 
    align-items: center;
    background: #ff8c00; 
    font-family: system-ui;  
    font-weight: bold;  
    text-shadow: 1px 1px #000000;
    border-top: 1px solid #000000; 
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.section-padding {
    padding: 4rem 4rem;
}

.footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 2rem;
}

.footer-links-div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #ffffff;
}

.footer-links-div h4 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
    color: #000000;
    text-shadow: none;
}

.footer-links-div p {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.socialmedia {
    display: flex;
    flex-direction: column;
}

.socialmedia a{
    color: #ffffff;
}

hr {
    color: #ffffff !important;
    width: 100%;
}

.footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.footer-copyright p {
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
    font-weight: 600;
}

.footer-below-links {
    display: flex;
    flex-direction: row;
}

.footer-below-links p {
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: #ffffff;
    font-weight: 600;
}

@media screen and (max-width: 850px) {
    .footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }

    .footer-below {
        flex-direction: column;
        justify-content: left;
    }

    .footer-below-links {
        flex-direction: column;
    }

    .footer-below-links p {
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}






