body {
    margin: 0; /* Eliminar posibles márgenes por defecto */
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block; /* Centra el contenido verticalmente */
}

/* Estilos específicos para los componentes dentro del Body */
@media screen and (max-width: 850px) {
}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 400px) {

}
